/* css document*/


body{

  text-align: center;
	background-color: #ebebe0;
}

h1{
	
	color: #00ccff;
	
}


p{
	
	color: brown;
	
	
}

#jumble_sentence_id{
	
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	background-color: white;
	color: green;
}

.dynamic{
	
	
	color: brown;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: white;
	padding: 1rem;
}


#table_id{
	
	margin-left: 40%;
	
}

td{
	
	color: green;
	
}


#button_id{
	
	position: relavtive;
	left: 30%;
}


button{
	
	padding: 1rem;
	color: green;
	text-transform: uppercase;
	
}



